body {
    margin:0;
    background:#F3F3F3
}

.quiz {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    width:100vw;
    height:100vh;
}

.question {
    width:600px;    

} 

.question__answers {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    margin:15px 0px;
}

.question__answers label {
    padding:15px;
    margin:5px 0px;
    background:#C4C4C4;
}

label.correct {
    background:#24A484;
}

label.incorrect {
    background:#AF1E2D;
}

.question__actions {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:end;
    -ms-flex-pack:end;
    justify-content:flex-end;
}

.hide {
    display:none;
}
